<%- include("partials/header") %> <%- include("partials/navbar") %>

<!-- content -->

<div class="content">
  <!-- top section -->
  <nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item active">Reports</li>
      <li class="breadcrumb-item active">Case Report</li>
    </ol>
  </nav>
  <h2 class="mb-2 lh-sm">Submit Report</h2>
  <p class="text-700 lead mb-2">
    A case report is an official document detailing information about an
    incident, investigation, and outcomes
  </p>

  <div class="mt-4">
    <div class="row g-4">
      <div class="col-12 col-xl-10 order-1 order-xl-0">
        <div class="mb-9">
          <div
            class="card shadow-none border border-300 my-4"
            data-component-card="data-component-card"
            id="unit-patrol-report-form"
          >
            <div class="card-header p-4 border-bottom border-300 bg-soft">
              <div class="row g-3 justify-content-between align-items-center">
                <div class="col-12 col-md">
                  <h4 class="text-900 mb-0" data-anchor="data-anchor">
                    Case Report Form
                  </h4>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="p-4">
                <!-- form >form tag will be merge with file uploader form tag -->
                <form
                  action="/case-report/submit"
                  method="post"
                  class="row g-3 has-validation"
                  id="reportForm"
                >
                  <!-- form title report -->
                  <div class="col-md-4">
                    <label class="form-label" for="validationCustom04"
                      >Title Report</label
                    >

                    <select
                      class="form-select <%= validationReportType %>"
                      id="validationCustom04"
                      required=""
                      name="reportType"
                    >
                      <option selected="" value="<%= reportType %>">
                        Choose title report
                      </option>
                      <option value="Criminal Case">
                        Criminal Case Report
                      </option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a title report.
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="datepicker1">Date</label>

                    <input
                      class="form-control <%= validationDate %> datetimepicker flatpickr-input"
                      id="datepicker1"
                      type="text"
                      placeholder="day/month/year"
                      data-options='{"dateFormat":"d/m/y","disableMobile":true,"allowInput":true}'
                      required="required"
                      name="date"
                      value="<%= date %>"
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a date here.
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="timepicker2">Time</label>

                    <input
                      class="form-control <%= validationTime %> datetimepicker flatpickr-input"
                      id="timepicker2"
                      type="text"
                      placeholder="hour : minute"
                      data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true,"allowInput":true}'
                      required="required"
                      name="time"
                      value="<%= time %>"
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a time here.
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label" for="validationCustom05"
                      >Location</label
                    >

                    <select
                      class="form-select <%= validationLocation %>"
                      id="validationCustom05"
                      required=""
                      name="location"
                    >
                      <option selected="" value="<%= location %>">
                        Choose location
                      </option>
                      <option value="Baitul Makmur I">Baitul Makmur I</option>
                      <option value="Baitul Makmur II">Baitul Makmur II</option>
                      <option value="Jamek Mosque">Jamek Mosque</option>
                      <option value="City Mosque">City Mosque</option>
                      <option value="Raudhatul Sakinah">
                        Raudhatul Sakinah
                      </option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a title report.
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label" for="validationCustom03"
                      >Staff on duty</label
                    >

                    <input
                      class="form-control <%= validationStaffOnDuty %>"
                      id="validationCustom03"
                      type="text"
                      required=""
                      name="staffs"
                      value="<%= staffOnDuty %>"
                    />
                    <div class="invalid-feedback">
                      Please provide a staff assigned.
                    </div>
                  </div>

                  <div class="col-12 gy-4">
                    <label class="form-label" for="floatingProjectDescription1"
                      >Event Summary</label
                    >
                    <textarea
                      class="form-control <%= validationEventSummary %> scrollbar-overlay"
                      id="floatingProjectDescription1"
                      placeholder="Leave a summary report here"
                      style="height: 64px"
                      required="required"
                      name="eventSummary"
                    >
<%= eventSummary %></textarea
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please enter a event summary here.
                    </div>
                  </div>

                  <div class="col-12 gy-4">
                    <label class="form-label" for="floatingProjectDescription1"
                      >Action Taken</label
                    >
                    <textarea
                      class="form-control <%= validationActionTaken %> scrollbar-overlay"
                      id="floatingProjectDescription1"
                      placeholder="Leave a summary report here"
                      style="height: 64px"
                      required="required"
                      name="actionTaken"
                    >
<%= actionTaken %></textarea
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please enter action taken here.
                    </div>
                  </div>

                  <input
                    type="text"
                    style="display: none"
                    value="<%= reportId %>"
                    name="confirmRid"
                  />

                  <!-- Submit button -->
                  <div class="col-12">
                    <button
                      class="btn btn-primary myButton"
                      type="submit"
                      id="submitReport"
                    >
                      <div class="btn-content">Submit Form</div>
                    </button>
                    <a
                      role="button"
                      class="btn btn-phoenix-primary bg-transparent border border-0 mx-2"
                      id="addFiles"
                      data-bs-toggle="modal"
                      data-bs-target="#verticallyCentered"
                      >Add files +</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- page nav -->
      <div class="col-12 col-xl-2">
        <div class="position-sticky mt-xl-4" style="top: 80px">
          <h5 class="lh-1">On this page</h5>
          <hr class="text-300" />
          <ul
            class="nav nav-vertical flex-column doc-nav"
            data-doc-nav="data-doc-nav"
          >
            <li class="nav-item">
              <a class="nav-link" href="#reportForm">Report Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#addFiles">Add Files</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#submitReport">Submit Form</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- status code-to-copy -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div
    class="toast align-items-center text-white bg-dark border-0 light"
    id="icon-copied-toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex justify-content-between">
      <div class="toast-body px-0 py-3"></div>
      <button
        class="btn ms-2 p-0 btn-close-white"
        type="button"
        data-bs-dismiss="toast"
        aria-label="Close"
      >
        <span class="uil uil-times fs-1"></span>
      </button>
    </div>
  </div>
</div>

<!-- TOAST ALERT -->

<!-- alert toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div
      class="toast <%= toastShow %> align-items-center text-white bg-primary border-0 light"
      role="alert"
      data-bs-autohide="false"
      aria-live="assertive"
      aria-atomic="true"
      id="alertToast"
    >
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-white"><%= toastMsg %></code>
        </div>

        <button
          class="btn ms-2 p-0 btn-close-white"
          type="button"
          data-bs-dismiss="toast"
          aria-label="Close"
        >
          <span class="uil uil-times fs-1"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->

<!-- modal for upload files -->
<div
  class="modal fade scrollbar-overlay"
  id="verticallyCentered"
  tabindex="-1"
  aria-labelledby="verticallyCenteredModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border border-0">
        <h5 class="modal-title" id="verticallyCenteredModalLabel">
          Upload Files
        </h5>
        <button
          class="btn p-1"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span class="fas fa-times fs--1"></span>
        </button>
      </div>

      <div class="modal-body p-3">
        <!-- file uploader -->
        <!-- data-options are the setting for dropzone can find the settings also inside -->
        <form
          class="dropzone dropzone-multiple p-0 mb-4"
          id="myDropzone"
          data-dropzone="data-dropzone"
          action="/upload-case"
          data-options='{"url":"/upload-case","paramName": "file"}'
        >
          <div class="dz-message" data-dz-message="data-dz-message">
            <img
              class="me-2"
              src="../../../assets/img/icons/cloud-upload.svg"
              width="25"
              alt=""
            />Drop your files here
          </div>
          <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
            <div class="d-flex mb-3 pb-3 border-bottom media">
              <div class="border border-300 p-2 rounded-2 me-2">
                <img
                  class="rounded-2 dz-image"
                  src="../../../assets/img/icons/file.png"
                  alt="..."
                  data-dz-thumbnail="data-dz-thumbnail"
                />
              </div>
              <div class="flex-1 d-flex flex-between-center">
                <div>
                  <h6 data-dz-name="data-dz-name"></h6>
                  <div class="d-flex align-items-center">
                    <p
                      class="mb-0 fs--1 text-400 lh-1"
                      data-dz-size="data-dz-size"
                    ></p>
                    <div class="dz-progress">
                      <span class="dz-upload" data-dz-uploadprogress=""></span>
                    </div>
                  </div>
                  <span
                    class="fs--2 text-danger"
                    data-dz-errormessage="data-dz-errormessage"
                  ></span>
                </div>
                <div class="dropdown font-sans-serif">
                  <button
                    class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-2">
                    <a
                      class="dropdown-item"
                      href="#!"
                      data-dz-remove="data-dz-remove"
                      >Remove File</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input
            type="text"
            style="display: none"
            value="<%= reportId %>"
            name="fileReportId"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary myButton"
          type="submit"
          id="uploadButton"
        >
          <div class="btn-content">
            <span
              ><i class="fa fa-upload" aria-hidden="true"></i
              >&nbsp;&nbsp;Upload</span
            >
          </div>
        </button>
        <button
          class="btn btn-outline-primary"
          type="button"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<%-include("partials/navbar-script.ejs") %> <%-include("partials/footer") %>
