<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content px-0 pt-9">
  <div class="row g-0">
    <div class="col-12 col-xxl-9 px-0 bg-soft">
      <div class="px-4 px-lg-6 pt-6 pb-9">
        <!-- top header section -->
        <div class="mb-5">
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item active">Duty Handover</li>
              <li class="breadcrumb-item active">Details</li>
            </ol>
          </nav>
          <div class="d-flex justify-content-between">
            <h2 class="text-black fw-bolder mb-2">Duty Handover Details</h2>
            <div class="font-sans-serif btn-reveal-trigger">
              <button
                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                type="button"
                data-bs-toggle="dropdown"
                data-boundary="window"
                aria-haspopup="true"
                aria-expanded="false"
                data-bs-reference="parent"
              >
                <span class="fas fa-ellipsis-h"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="#!">Edit</a
                ><a class="dropdown-item text-danger" href="#!">Delete</a
                ><a class="dropdown-item" href="#!">Print</a>
              </div>
            </div>
          </div>
          <p class="text-700 lead mb-2">
            Personnel submit patrol reports to document activities, incidents,
            and safety concerns, ensuring accountability and security.
          </p>
        </div>

        <!-- body section -->
        <div class="row gx-0 gx-sm-5 gy-8 mb-n5">
          <div class="col-12 col-xxl-10 col-xl-10 pe-xl-0">
            <div
              class="card theme-wizard mb-5"
              data-theme-wizard="data-theme-wizard"
            >
              <div class="card-header bg-100 pt-3 pb-2 border-bottom-0">
                <ul
                  class="nav justify-content-between nav-wizard"
                  role="tablist"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link active fw-semi-bold"
                      href="#bootstrap-wizard-tab1"
                      data-bs-toggle="tab"
                      data-wizard-step="1"
                    >
                      <div class="text-center d-inline-block">
                        <span class="nav-item-circle-parent"
                          ><span class="nav-item-circle"
                            ><span class="fas fa-lock"></span></span></span
                        ><span class="d-none d-md-block mt-1 fs--1"
                          >Account</span
                        >
                      </div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link fw-semi-bold"
                      href="#bootstrap-wizard-tab2"
                      data-bs-toggle="tab"
                      data-wizard-step="2"
                    >
                      <div class="text-center d-inline-block">
                        <span class="nav-item-circle-parent"
                          ><span class="nav-item-circle"
                            ><span class="fas fa-user"></span></span></span
                        ><span class="d-none d-md-block mt-1 fs--1"
                          >Personal</span
                        >
                      </div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link fw-semi-bold"
                      href="#bootstrap-wizard-tab3"
                      data-bs-toggle="tab"
                      data-wizard-step="3"
                    >
                      <div class="text-center d-inline-block">
                        <span class="nav-item-circle-parent"
                          ><span class="nav-item-circle"
                            ><span class="fas fa-check"></span></span></span
                        ><span class="d-none d-md-block mt-1 fs--1">Done</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body pt-4 pb-0">
                <div class="tab-content">
                  <div
                    class="tab-pane active"
                    role="tabpanel"
                    aria-labelledby="bootstrap-wizard-tab1"
                    id="bootstrap-wizard-tab1"
                  >
                    <form
                      id="wizardForm1"
                      novalidate="novalidate"
                      data-wizard-form="1"
                    >
                      <div class="row g-3 mb-3">
                        <div class="col-6 mb-2">
                          <label
                            class="form-label text-900"
                            for="bootstrap-wizard-wizard-1"
                            >Shift</label
                          >
                          <input
                            class="form-control"
                            type="text"
                            value="<%= giveShift %>"
                            id="bootstrap-wizard-wizard-1"
                            disabled
                          />
                        </div>
                        <div class="col-6 mb-2">
                          <label
                            class="form-label"
                            for="bootstrap-wizard-wizard-2"
                            >Head Shift</label
                          >
                          <input
                            class="form-control"
                            type="text"
                            value="<%= giveHeadShift %>"
                            id="bootstrap-wizard-wizard-2"
                            disabled
                          />
                        </div>

                        <div class="col-sm-12">
                          <div class="mb-2 mb-sm-0">
                            <label
                              class="form-label text-900"
                              for="bootstrap-wizard-wizard-3"
                              >Staff On Sick Leave</label
                            >
                            <input
                              class="form-control"
                              type="text"
                              value="<%= giveStaffSickLeave %>"
                              id="bootstrap-wizard-wizard-3"
                              disabled
                            />
                          </div>
                        </div>

                        <div class="col-sm-12">
                          <div class="mb-2">
                            <label
                              class="form-label text-900"
                              for="bootstrap-wizard-wizard-4"
                              >Staff Absent</label
                            >
                            <input
                              class="form-control"
                              type="text"
                              value="<%= giveStaffAbsent %>"
                              id="bootstrap-wizard-wizard-4"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div
                    class="tab-pane"
                    role="tabpanel"
                    aria-labelledby="bootstrap-wizard-tab2"
                    id="bootstrap-wizard-tab2"
                  >
                    <form
                      id="wizardForm2"
                      novalidate="novalidate"
                      data-wizard-form="2"
                      class="row g-3"
                    >
                      <!-- form title report -->
                      <div class="col-md-4">
                        <label class="form-label" for="validationCustom04"
                          >Shift</label
                        >

                        <select
                          class="form-select <%= validationShift %>"
                          id="validationCustom04"
                          name="shift"
                          disabled
                        >
                          <option selected="" value="<%= handoverShift %>">
                            <%= handoverShift %>
                          </option>
                          <option value="Shift A">Shift A</option>
                          <option value="Shift B">Shift B</option>
                          <option value="Shift C">Shift C</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please select a shift.
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="form-label" for="datepicker1">Date</label>

                        <input
                          class="form-control <%= validationDate %> datetimepicker flatpickr-input"
                          id="datepicker1"
                          type="text"
                          placeholder="day/month/year"
                          data-options='{"dateFormat":"d/m/y","disableMobile":true,"allowInput":true}'
                          name="date"
                          value="<%= date %>"
                          disabled
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please select a date here.
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="form-label" for="validationCustom05"
                          >Location</label
                        >

                        <select
                          class="form-select"
                          id="validationCustom05"
                          name="location"
                          disabled
                        >
                          <option selected="" value="<%= location %>">
                            <%= location %>
                          </option>
                          <option value="Baitul Makmur I">
                            Baitul Makmur I
                          </option>
                          <option value="Baitul Makmur II">
                            Baitul Makmur II
                          </option>
                          <option value="Jamek Mosque">Jamek Mosque</option>
                          <option value="City Mosque">City Mosque</option>
                          <option value="Raudhatul Sakinah">
                            Raudhatul Sakinah
                          </option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please select a title report.
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label class="form-label" for="validationCustom03"
                          >Head of Shift</label
                        >

                        <input
                          class="form-control <%= validationHeadShift %>"
                          id="validationCustom03"
                          type="text"
                          name="headShift"
                          value="<%= headShift %>"
                        />
                        <div class="invalid-feedback">
                          Please provide head shift assigned.
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label class="form-label" for="validationCustom04"
                          >Handover shift to be received</label
                        >

                        <select
                          class="form-select <%= validationHandoverShift %>"
                          id="validationCustom04"
                          name="handoverShift"
                          disabled
                        >
                          <option selected="" value="<%= shift %>">
                            <%= shift %>
                          </option>
                          <option value="Shift A">Shift A</option>
                          <option value="Shift B">Shift B</option>
                          <option value="Shift C">Shift C</option>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please select a shift.
                        </div>
                      </div>

                      <div class="col-md-12">
                        <label class="form-label" for="validationCustom03"
                          >Staff on duty</label
                        >

                        <input
                          class="form-control <%= validationStaffOnDuty %>"
                          id="validationCustom03"
                          type="text"
                          name="staffOnDuty"
                          value="<%= staffOnDuty %>"
                        />
                        <div class="invalid-feedback">
                          Please provide a staff assigned.
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label class="form-label" for="validationCustom03"
                          >Staff on sick leave</label
                        >

                        <input
                          class="form-control <%= validationStaffSickLeave %>"
                          id="validationCustom03"
                          type="text"
                          name="staffSickLeave"
                          value="<%= staffSickLeave %>"
                        />
                        <div class="invalid-feedback">
                          Please provide a staff on sick leave.
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label class="form-label" for="validationCustom03"
                          >Staff absent</label
                        >

                        <input
                          class="form-control <%= validationStaffAbsent %>"
                          id="validationCustom03"
                          type="text"
                          name="staffAbsent"
                          value="<%= staffAbsent %>"
                        />
                        <div class="invalid-feedback">
                          Please provide a staff absent.
                        </div>
                      </div>

                      <div class="col-12 gy-4 mb-3">
                        <label
                          class="form-label"
                          for="floatingProjectDescription2"
                          >Notes</label
                        >
                        <textarea
                          class="form-control <%= validationNotes %> scrollbar-overlay"
                          id="floatingProjectDescription2"
                          placeholder="Leave a note here"
                          style="height: 64px"
                          name="notes"
                        >
<%= notes %></textarea
                        >
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">
                          Please enter a note here.
                        </div>
                      </div>

                      <input
                        type="text"
                        style="display: none"
                        value="<%= reportId %>"
                        name="confirmRid"
                      />
                    </form>
                  </div>
                  <div
                    class="tab-pane"
                    role="tabpanel"
                    aria-labelledby="bootstrap-wizard-tab3"
                    id="bootstrap-wizard-tab3"
                  >
                    <div class="row flex-center pb-8 pt-4 gx-3 gy-4">
                      <div class="col-12 col-sm-auto">
                        <div class="text-center text-sm-start">
                          <img
                            class="d-dark-none"
                            src="../../assets/img/spot-illustrations/38.webp"
                            alt=""
                            width="220"
                          /><img
                            class="d-light-none"
                            src="../../assets/img/spot-illustrations/dark_38.webp"
                            alt=""
                            width="220"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-sm-auto">
                        <div class="text-center text-sm-start">
                          <h5 class="mb-3">You are all set!</h5>
                          <p class="text-1100 fs--1">
                            Now you can access your account<br />anytime
                            anywhere
                          </p>
                          <a
                            class="btn btn-primary px-6"
                            href="../../modules/forms/wizard.html"
                            >Start Over</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="card-footer border-top-0"
                data-wizard-footer="data-wizard-footer"
              >
                <div class="d-flex pager wizard list-inline mb-0">
                  <button
                    class="btn btn-link ps-0"
                    type="button"
                    data-wizard-prev-btn="data-wizard-prev-btn"
                  >
                    <svg
                      class="svg-inline--fa fa-chevron-left me-1"
                      data-fa-transform="shrink-3"
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="chevron-left"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                      data-fa-i2svg=""
                      style="transform-origin: 0.3125em 0.5em"
                    >
                      <g transform="translate(160 256)">
                        <g
                          transform="translate(0, 0)  scale(0.8125, 0.8125)  rotate(0 0 0)"
                        >
                          <path
                            fill="currentColor"
                            d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
                            transform="translate(-160 -256)"
                          ></path>
                        </g>
                      </g></svg
                    ><!-- <span class="fas fa-chevron-left me-1" data-fa-transform="shrink-3"></span> Font Awesome fontawesome.com -->Previous
                  </button>
                  <div class="flex-1 text-end">
                    <button
                      class="btn btn-primary px-6 px-sm-6"
                      type="submit"
                      data-wizard-next-btn="data-wizard-next-btn"
                    >
                      Next<svg
                        class="svg-inline--fa fa-chevron-right ms-1"
                        data-fa-transform="shrink-3"
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="chevron-right"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        data-fa-i2svg=""
                        style="transform-origin: 0.3125em 0.5em"
                      >
                        <g transform="translate(160 256)">
                          <g
                            transform="translate(0, 0)  scale(0.8125, 0.8125)  rotate(0 0 0)"
                          >
                            <path
                              fill="currentColor"
                              d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                              transform="translate(-160 -256)"
                            ></path>
                          </g>
                        </g></svg
                      ><!-- <span class="fas fa-chevron-right ms-1" data-fa-transform="shrink-3"> </span> Font Awesome fontawesome.com -->
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <hr />
            <h4 class="text-1100 mt-2">Log Report</h4>
            <p class="mt-2 text-800"><%= giveLog %></p>

          <hr />
          <h3 class="text-1100 mt-2">Notes</h3>
          <p class="text-800 mb-3 mt-2"><%= notes %></p>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/navbar-script") %> <%- include("partials/footer") %>
</div>
