<%- include("partials/header") %> <%- include("partials/navbar") %>

<!-- content -->

<div class="content">
  <!-- top section -->
  <nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item active">Reports</li>
      <li class="breadcrumb-item active">Duty Handover</li>
    </ol>
  </nav>
  <% 
  // Function to get today's date in the format "DD/MM/YY"
  function getTodayDate() {
    const today = new Date();
    const day = String(today.getDate()).padStart(2, '0');
    const month = String(today.getMonth() + 1).padStart(2, '0'); // Month is zero-based
    const year = today.getFullYear().toString().substr(-2);
    return `${day}/${month}/${year}`;
  }

  const currentDate = getTodayDate();
  %>
  <h2 class="mb-2 lh-sm">Submit Duty Handover<span class="fw-normal text-700 ms-3">(<%= currentDate %>)</span></h2>
  <p class="text-700 lead mb-2">
    A handover duty report summarizes tasks, achievements, challenges during a
    period, informing superiors of work progress and outcomes.
  </p>

  <div class="mt-4">
    <div class="row g-4">
      <div class="col-12 col-xl-9 order-1 order-xl-0">
        <div class="mb-9">
          <div class="card shadow-none border border-300 my-4" data-component-card="data-component-card" id="unit-patrol-report-form">
            <div class="card-header p-4 border-bottom border-300 bg-soft">
              <div class="row g-3 justify-content-between align-items-center">
                <div class="col-12 col-md">
                  <h4 class="text-900 mb-0">
                    Form Submission
                  </h4>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="p-4">
                <!-- form >form tag will be merge with file uploader form tag -->
                <form action="/duty-handover/submit" method="post" class="row g-3 has-validation" id="reportForm">
                  <!-- form title report -->
                  <div class="col-md-6">
                    <label class="form-label" for="giveShift">Shift</label>
                    <% if(shift === ''){
                            shift = 'Choose a shift'
                        } %>
                    <select class="form-select <%= validationShift %>" id="giveShift" name="shift">
                      <option selected="" value="<%= shift %>">
                        <%= shift %>
                      </option>
                      <option value="Shift A">Shift A</option>
                      <option value="Shift B">Shift B</option>
                      <option value="Shift C">Shift C</option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please select a shift.</div>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label" for="handoverLocation">Location</label>
                    <% if(location === ''){
                            location = 'Choose a location'
                        } %>
                    <select class="form-select <%= validationLocation %>" id="handoverLocation" name="location">
                      <option selected="" value="<%= location %>">
                        <%= location %>
                      </option>
                      <option value="Baitul Makmur I">Baitul Makmur I</option>
                      <option value="Baitul Makmur II">Baitul Makmur II</option>
                      <option value="Jamek Mosque">Jamek Mosque</option>
                      <option value="City Mosque">City Mosque</option>
                      <option value="Raudhatul Sakinah">
                        Raudhatul Sakinah
                      </option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a title report.
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label" for="giveHeadShift">Head of Shift</label>

                    <input class="form-control <%= validationHeadShift %>" id="giveHeadShift" type="text" name="headShift" value="<%= headShift %>" />
                    <div class="invalid-feedback">
                      Please provide head shift assigned.
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label" for="giveStaffAbsent">Staff Absent</label>

                    <input class="form-control <%= validationStaffAbsent %>" id="giveStaffAbsent" type="text" name="staffAbsent" value="<%= staffAbsent %>" />
                    <div class="invalid-feedback">
                      Please provide shift absent.
                    </div>
                  </div>

                  <div class="col-12 gy-4 mb-3">
                    <label class="form-label" for="giveNotes">Summary</label>
                    <textarea class="form-control <%= validationNotes %> scrollbar-overlay" id="giveNotes" placeholder="Leave a summary here" style="height: 100px" name="notes">
<%= notes %></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please enter summary here.
                    </div>
                  </div>

                  <div class="col-md-12 mt-0 mb-3">
                    <h4 class="form-label">Shift Member For Patrol Location</h4>
                    <div id="selectedNames" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 2.5rem"></div>
                  </div>

                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-6">
                        <label class="form-label" for="validationCustom03">Search Staff Name</label>
                        <input type="text" name="query" id="queryInput" class="form-control <%= validationSelectedNames %>" placeholder="Search and click staff name" />
                        <div class="invalid-feedback">
                          Please search and click staff assigned.
                        </div>
                        <div class="valid-feedback">Looks good!</div>
                      </div>

                      <div id="results" class="mt-3 mb-3 col-12"></div>
                    </div>
                  </div>

                  <input type="text" style="display: none" id="reportIdInput" value="<%= reportId %>" name="confirmRid" />

                  <!-- Add a hidden input field for selectedNames -->
                  <input type="hidden" id="selectedNamesInput" name="selectedNames" value="<%= Array.isArray(selectedNames) ? selectedNames.join(',') : '' %>" />

                  <!-- Submit button -->
                  <div class="col-12">
                    <button class="btn btn-primary myButton" type="submit" id="submitReport">
                      <div class="btn-content">Submit Form</div>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- page nav -->
      <div class="col-12 col-xl-3">
        <div class="position-sticky mt-xl-4" style="top: 80px">
          <h5 class="lh-1">On this page</h5>
          <hr class="text-300" />
          <ul class="nav nav-vertical flex-column doc-nav" data-doc-nav="data-doc-nav">
            <li class="nav-item">
              <a class="nav-link" href="#reportForm">Form Submission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#submitReport">Submit Form</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- status code-to-copy -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="toast align-items-center text-white bg-dark border-0 light" id="icon-copied-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex justify-content-between">
      <div class="toast-body px-0 py-3"></div>
      <button class="btn ms-2 p-0 btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close">
        <span class="uil uil-times fs-1"></span>
      </button>
    </div>
  </div>
</div>

<!-- TOAST ALERT -->

<!-- alert toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast <%= toastShow %> align-items-center text-white bg-primary border-0 light" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" id="alertToast">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-white"><%= toastMsg %></code>
        </div>

        <button class="btn ms-2 p-0 btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-1"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<%-include("partials/navbar-script.ejs") %> <%-include("partials/footer") %>