<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content">
  <!-- Page title -->
  <h2 class="mb-2 lh-sm">Home</h2>
  <p class="text-700 lead mb-2">
    Welcome and get started, <strong><%= currentFullName %></strong>!

  <!-- Body -->
  <div class="mt-4">
    <div class="row g-2">
      <!-- card body reports -->
      <div class="col-12 col-xl-10 order-1 order-xl-0">
        <div class="mb-1">
          <div
            class="card shadow-none border border-300 my-4"
            data-component-card="data-component-card"
          >
            <!-- card header -->
            <div class="card-header p-4 border-bottom border-300 bg-soft">
              <div class="row g-1 justify-content-between align-items-center">
                <div class="col-12 col-md">
                  <h4
                    class="text-900 mb-0"
                    data-anchor="data-anchor"
                    id="reports"
                  >
                    Reports
                  </h4>
                </div>
                <div class="col col-md-auto">
                  <nav
                    class="nav nav-underline justify-content-end doc-tab-nav align-items-center"
                    role="tablist"
                  >
                    <a
                      class="btn btn-sm btn-phoenix-primary code-btn ms-2"
                      data-bs-toggle="collapse"
                      href="#accordion-example-1"
                      role="button"
                      aria-controls="accordion-example-1"
                      aria-expanded="false"
                    >
                      <span class="me-2" data-feather="eye"></span>Preview</a
                    ><a class="btn btn-sm btn-phoenix-primary preview-btn ms-2"
                      ><span class="me-2" data-feather="minimize-2"></span
                      >Close</a
                    >
                  </nav>
                </div>
              </div>
            </div>

            <!-- card body -->
            <div class="card-body p-0">
              <!-- upper section -->
              <div class="collapse code-collapse" id="accordion-example-1">
                <pre
                  class="scrollbar bg-200 p-3"
                  style="max-height: 420px"
                ><code class="code-to-copy">
                          ELorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare pretium eros, quis mattis nisi sollicitudin
                          in. Vestibulum vel urna congue, bibendum lacus a, dignissim elit. Morbi nec consequat massa. Proin dictum a urna quis
                          pulvinar. Integer feugiat sapien lectus, quis aliquet lectus consectetur quis. Phasellus arcu leo, aliquet ac metus
                          vitae, finibus hendrerit magna. Quisque auctor risus ut enim facilisis vestibulum. Ut accumsan tellus sit amet urna
                          mattis malesuada. Donec in tellus nulla.
                </code></pre>
              </div>
              <!-- lower section -->
              <div class="p-4">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item border-top border-300">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-home-reports-1"
                        aria-expanded="true"
                        aria-controls="collapse-home-reports-1"
                      >
                        <i
                          class="fa-solid fa-building-shield mx-2 fa-sm mb-1"
                        ></i
                        >Patrol Report
                      </button>
                    </h2>
                    <div
                      class="accordion-collapse collapse show"
                      id="collapse-home-reports-1"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body pt-0">
                        <a href="/patrol-report/view"
                          ><strong>Visit to location patrol</strong></a
                        >
                        by submitting & viewing patrol report daily based on
                        your location, shift etc.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-home-reports-2"
                        aria-expanded="false"
                        aria-controls="collapse-home-reports-2"
                      >
                        <i class="fa-solid fa-folder-closed mx-2 fa-sm mb-1"></i
                        >Case Report
                      </button>
                    </h2>
                    <div
                      class="accordion-collapse collapse"
                      id="collapse-home-reports-2"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body pt-0">
                        <a href="/case-report/view"
                          ><strong>Visit to case report</strong></a
                        >
                        by submitting and viewing your case report based on your
                        with details such as date, location, event summary,
                        action taken, report summary .
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- navbody -->
      <div class="col-12 col-xl-2">
        <div class="position-sticky mt-xl-4" style="top: 80px">
          <h5 class="lh-1">On this page</h5>
          <hr class="text-300" />
          <ul
            class="nav nav-vertical flex-column doc-nav"
            data-doc-nav="data-doc-nav"
          >
            <li class="nav-item">
              <a class="nav-link" href="#reports">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#social">Social</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- card body schedule -->
      <div class="col-12 col-xl-10 order-1 order-xl-0">
        <div class="mb-1">
          <div
            class="card shadow-none border border-300 my-4"
            data-component-card="data-component-card"
          >
            <!-- card header -->
            <div class="card-header p-4 border-bottom border-300 bg-soft">
              <div class="row g-1 justify-content-between align-items-center">
                <div class="col-12 col-md">
                  <h4
                    class="text-900 mb-0"
                    data-anchor="data-anchor"
                    id="schedule"
                  >
                    Schedule
                  </h4>
                </div>
                <div class="col col-md-auto">
                  <nav
                    class="nav nav-underline justify-content-end doc-tab-nav align-items-center"
                    role="tablist"
                  >
                    <a
                      class="btn btn-sm btn-phoenix-primary code-btn ms-2"
                      data-bs-toggle="collapse"
                      href="#accordion-example-2"
                      role="button"
                      aria-controls="accordion-example-2"
                      aria-expanded="false"
                    >
                      <span class="me-2" data-feather="eye"></span>Preview</a
                    ><a class="btn btn-sm btn-phoenix-primary preview-btn ms-2"
                      ><span class="me-2" data-feather="minimize-2"></span
                      >Close</a
                    >
                  </nav>
                </div>
              </div>
            </div>

            <!-- card body -->
            <div class="card-body p-0">
              <!-- upper section -->
              <div class="collapse code-collapse" id="accordion-example-2">
                <pre
                  class="scrollbar bg-200 p-3"
                  style="max-height: 420px"
                ><code class="code-to-copy">
                          by downloading & viewing your schedule provided by us.
                </code></pre>
              </div>
              <!-- lower section -->
              <div class="p-4">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item border-top border-300">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-home-schedule"
                        aria-expanded="true"
                        aria-controls="collapse-home-schedule"
                      >
                        <i
                          class="fa-regular fa-calendar mx-2 fa-sm mb-1 mb-1"
                        ></i
                        >View Schedule
                      </button>
                    </h2>
                    <div
                      class="accordion-collapse collapse show"
                      id="collapse-home-schedule"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body pt-0">
                        <a href="/schedule"
                          ><strong>Visit to schedule</strong></a
                        >
                        by downloading & viewing your schedule provided by us.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- card body social -->
      <div class="col-12 col-xl-10 order-1 order-xl-0">
        <div class="mb-1">
          <div
            class="card shadow-none border border-300 my-4"
            data-component-card="data-component-card"
          >
            <!-- card header -->
            <div class="card-header p-4 border-bottom border-300 bg-soft">
              <div class="row g-1 justify-content-between align-items-center">
                <div class="col-12 col-md">
                  <h4
                    class="text-900 mb-0"
                    data-anchor="data-anchor"
                    id="social"
                  >
                    Social
                  </h4>
                </div>
                <div class="col col-md-auto">
                  <nav
                    class="nav nav-underline justify-content-end doc-tab-nav align-items-center"
                    role="tablist"
                  >
                    <a
                      class="btn btn-sm btn-phoenix-primary code-btn ms-2"
                      data-bs-toggle="collapse"
                      href="#accordion-example-3"
                      role="button"
                      aria-controls="accordion-example-3"
                      aria-expanded="false"
                    >
                      <span class="me-2" data-feather="eye"></span>Preview</a
                    ><a class="btn btn-sm btn-phoenix-primary preview-btn ms-2"
                      ><span class="me-2" data-feather="minimize-2"></span
                      >Close</a
                    >
                  </nav>
                </div>
              </div>
            </div>

            <!-- card body -->
            <div class="card-body p-0">
              <!-- upper section -->
              <div class="collapse code-collapse" id="accordion-example-3">
                <pre
                  class="scrollbar bg-200 p-3"
                  style="max-height: 420px"
                ><code class="code-to-copy">
                          ELorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare pretium eros, quis mattis nisi sollicitudin
                          in. Vestibulum vel urna congue, bibendum lacus a, dignissim elit. Morbi nec consequat massa. Proin dictum a urna quis
                          pulvinar. Integer feugiat sapien lectus, quis aliquet lectus consectetur quis. Phasellus arcu leo, aliquet ac metus
                          vitae, finibus hendrerit magna. Quisque auctor risus ut enim facilisis vestibulum. Ut accumsan tellus sit amet urna
                          mattis malesuada. Donec in tellus nulla.
                </code></pre>
              </div>
              <!-- lower section -->
              <div class="p-4">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item border-top border-300">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-home-social-1"
                        aria-expanded="true"
                        aria-controls="collapse-home-social-1"
                      >
                        <i class="fa-regular fa-user mx-2 fa-sm mb-1"></i
                        >Profile
                      </button>
                    </h2>
                    <div
                      class="accordion-collapse collapse show"
                      id="collapse-home-social-1"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body pt-0">
                        <a href="/social/profile"
                          ><strong>Visit to profile</strong></a
                        >
                        by keeping up to date with your details, amount of
                        report submitted which include their activity timeline.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-home-social-2"
                        aria-expanded="false"
                        aria-controls="collapse-home-social-2"
                      >
                        <i class="fa-solid fa-gear mx-2 fa-sm mb-1"></i>Settings
                      </button>
                    </h2>
                    <div
                      class="accordion-collapse collapse"
                      id="collapse-home-social-2"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body pt-0">
                        <a href="/social/settings"
                          ><strong>Visit to settings</strong></a
                        >
                        through here, you can change your details such as email,
                        name, phone number as well as your password.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- code-to-copy alert -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div
      class="toast align-items-center text-white bg-dark border-0 light"
      id="icon-copied-toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body p-3"></div>
        <button
          class="btn-close btn-close-white me-2 m-auto"
          type="button"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>

<%-include("partials/navbar-script.ejs") %> <%-include("partials/footer") %>
