<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content px-0 pt-9">
  <div class="row g-0">
    <div class="col-12 col-xxl-10 px-0 bg-soft">
      <div class="px-4 px-lg-6 pt-6 pb-9">
        <!-- top header section -->
        <div class="mb-5">
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item active">Reports</li>
              <li class="breadcrumb-item active">Patrol Report</li>
              <li class="breadcrumb-item active">Details</li>
            </ol>
          </nav>
          <div class="d-flex justify-content-between">
            <h2 class="text-black fw-bolder mb-2">Patrol Report Details</h2>
            <div class="font-sans-serif btn-reveal-trigger">
              <button
                class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                type="button"
                data-bs-toggle="dropdown"
                data-boundary="window"
                aria-haspopup="true"
                aria-expanded="false"
                data-bs-reference="parent"
              >
                <span class="fas fa-ellipsis-h"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="#!">Edit</a
                ><a class="dropdown-item text-danger" href="#!">Delete</a
                ><a class="dropdown-item" href="#!">Print</a>
              </div>
            </div>
          </div>
        </div>

        <!-- body section -->
        <div class="row gx-0 gx-sm-5 gy-8 mb-n5">
          <div class="col-12 col-xl-3 col-xxl-4 pe-xl-0">
            <!-- first section -->
            <div class="mb-4 mb-xl-7">
              <div class="row gx-0 gx-sm-7">
                <div class="col-12 col-sm-auto">
                  <table class="lh-sm mb-4 mb-sm-0 mb-xl-4">
                    <tbody>
                      <tr>
                        <td class="py-1" colspan="2">
                          <div class="d-flex">
                            <span
                              class="fa-solid fa-earth-americas me-2 text-700 fs--1"
                            ></span>
                            <h5 class="text-900"><%= reportType %></h5>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-top py-1">
                          <div class="d-flex">
                            <span
                              class="fa-solid fa-user me-2 text-700 fs--1"
                            ></span>
                            <h5 class="text-900 mb-0 text-nowrap">Made by :</h5>
                          </div>
                        </td>
                        <td class="py-1">
                          <a class="fw-semi-bold d-block lh-sm ms-n2" href="#!"
                            ><%= madeBy %></a
                          >
                        </td>
                      </tr>
                      <tr>
                        <td class="align-top py-1">
                          <div class="d-flex">
                            <span
                              class="fa-regular fa-credit-card me-2 text-700 fs--1"
                            ></span>
                            <h5 class="text-900 mb-0 text-nowrap">
                              Username :
                            </h5>
                          </div>
                        </td>
                        <td
                          class="fw-bold ps-1 py-1 text-1000 badge badge badge-phoenix badge-phoenix-primary ms-2"
                        >
                          <%= pbNumber %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-12 col-sm-auto">
                  <table class="lh-sm">
                    <tbody>
                      <tr>
                        <td class="align-top py-1 text-900 text-nowrap fw-bold">
                          Start Patrol :
                        </td>
                        <td class="text-600 fw-semi-bold ps-3">
                          <%= startTime %>
                        </td>
                      </tr>
                      <tr>
                        <td class="align-top py-1 text-900 text-nowrap fw-bold">
                          End Patrol :
                        </td>
                        <td class="text-600 fw-semi-bold ps-3">
                          <%= endTime %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- staff assign -->
        </div>

        <hr />
        <h3 class="text-1100 mb-4 mt-4">Summary Report</h3>
        <p class="text-800 mb-4"><%= reportSummary %></p>

        <hr />
        <h3 class="text-1100 mb-4 mt-4">Notes</h3>
        <p class="text-800 mb-10"><%= notes %></p>
      </div>
    </div>

    <div
      class="col-12 col-xxl-2 px-0 border-start-xxl border-300 border-top-sm"
    >
      <div class="h-100">
        <div class="bg-light dark__bg-1100 min-vh-100">
          <div class="px-4 px-lg-6 py-4">
            <h4 class="mb-0">Files</h4>
          </div>
          <% if (Array.isArray(files) && files.length > 0) { %>
          <!-- table item -->
          <% files.forEach(function (item) { %> <% if(item.fileType === ".jpg"
          || item.fileType === ".jepg" || item.fileType === ".gif" ||
          item.fileType === ".bmp" ) {%>

          <div class="border-top border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div class="d-flex mb-1">
                  <span class="fa-solid fa-image me-2 text-700 fs--1"></span>
                  <p class="text-1000 mb-0 lh-1"><%= item.filename %></p>
                </div>
                <div class="font-sans-serif btn-reveal-trigger">
                  <button
                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-boundary="window"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-reference="parent"
                  >
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="#!">Edit</a
                    ><a class="dropdown-item text-danger" href="#!">Delete</a
                    ><a class="dropdown-item" href="#!">Download</a
                    ><a class="dropdown-item" href="#!">Report abuse</a>
                  </div>
                </div>
              </div>
              <div class="d-flex fs--1 text-700 mb-2 flex-wrap">
                <a href="#!"><%= item.by %> </a
                ><span class="text-400 mx-1">| </span
                ><span class="text-nowrap"><%= item.date %></span>
              </div>
              <img
                class="rounded-2"
                id="imageDetails"
                src="/uploads/<%= item.filename %>"
                alt=""
                style="max-width: 200px"
              />
            </div>
          </div>
          <%} else {%>

          <div class="border-top border-bottom border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div>
                  <div class="d-flex align-items-center mb-1 flex-wrap">
                    <span
                      class="fa-solid fa-file-lines me-2 fs--1 text-700"
                    ></span>
                    <p class="text-1000 mb-0 lh-1">Project.txt</p>
                  </div>
                  <div class="d-flex fs--1 text-700 mb-0 flex-wrap">
                    <a href="#!"><%= item.by %> </a
                    ><span class="text-400 mx-1">| </span
                    ><span class="text-nowrap"><%= item.date %></span>
                  </div>
                </div>
                <div class="font-sans-serif btn-reveal-trigger">
                  <button
                    class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
                    type="button"
                    data-bs-toggle="dropdown"
                    data-boundary="window"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-reference="parent"
                  >
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="#!">Edit</a
                    ><a class="dropdown-item text-danger" href="#!">Delete</a
                    ><a class="dropdown-item" href="#!">Download</a
                    ><a class="dropdown-item" href="#!">Report abuse</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% }) %> <% } else { %>
          <div class="border-top border-bottom border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div>
                  <div class="d-flex align-items-center mb-1 flex-wrap">
                    No files uploaded
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <div class="px-5 py-3 px-md-6 mt-3 mb-9">
            <a class="fw-bold fs--1" href="#!"
              ><span class="fas fa-plus me-1"></span>Add file(s)</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/navbar-script") %> <%- include("partials/footer") %>
