<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content">
  <div class="row g-3">
    <!-- profile card -->
    <div class="col-12 col-xl-8">
      <div class="pb-5">
        <div class="card mb-1">
          <div class="card-header hover-actions-trigger d-flex justify-content-center align-items-end position-relative mb-7 mb-xxl-0" style="min-height: 214px">
            <div class="bg-holder rounded-top" style="
                background-image: url(../../assets/img/generic/cover-photo.png);
              "></div>
            <!--/.bg-holder-->

            <% if(currentProfile === ''){ currentProfile =
            '/assets/img/team/avatar.webp'; } %>

            <div class="feed-profile" style="width: 150px; height: 150px">
              <div class="position-relative bg-400 rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">
                <div class="avatar avatar-5xl">
                  <img class="rounded-circle rounded-circle bg-white img-thumbnail shadow-sm" src="<%= currentProfile %>" />
                </div>
                <label class="w-100 h-100 position-absolute z-index-1" for="upload-porfile-picture"></label>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h3><%= currentFullName %></h3>
              </div>
              <div class="col-auto">
                <div class="d-flex mb-3 justify-content-between">
                  <span class="fw-semi-bold fs--1 text-1100 badge badge-phoenix badge-phoenix-primary ms-auto">
                    PB<%= currentUser %>
                  </span>
                </div>
              </div>
              <div class="mb-4">
                <h5 class="mb-2"><%= email || 'Email not added' %></h5>
                <h5><%= phone || 'Phone not added' %></h5>
              </div>
              <div class="col-auto mx-auto">
                <div class="row g-2">
                  <div class="col-auto order-xxl-1">
                    <a class="btn btn-phoenix-primary lh-1 bg-transparent border border-0">
                      <span class="fa-solid fa-plus me-2"></span>Total Report
                      (<%= amountTotalReports %>)
                    </a>
                  </div>
                  <div class="col-auto order-xxl-2">
                    <button class="btn btn-phoenix-primary lh-1">
                      <span class="fa-solid fa-book me-2"></span>Patrol Report
                      (<%= amountPatrol %>)
                    </button>
                  </div>
                  <div class="col-auto order-xxl-3">
                    <button class="btn btn-phoenix-primary lh-1">
                      <span class="fa-solid fa-suitcase me-2"></span>Case Report
                      (<%= amountCase %>)
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-4">
      <div class="row gx-xl-8 gx-xxl-11">
        <h3 class="mb-4 text-center">Activity Timeline</h3>

        <div class="col-xl-12 overflow-auto scrollbar-overlay" style="height: 80vh">
          <% if (Array.isArray(activity) && activity.length > 0) { %> <%
          activity.forEach((activity, activityIndex) => { %> <% if (todayDate
          === activity.date) { %>
          <h4 class="py-3 border-y border-300 mb-5 ms-8">Today</h4>
          <% } else { %>
          <h4 class="py-3 border-y border-300 mb-5 ms-8">
            <%= activity.date %>
          </h4>

          <% } %> <% const lastItemIndex = activity.items.length - 1; %> <%
          const filteredItems = Array.isArray(activity.items) ?
          activity.items.filter(itemArray => itemArray.username === currentUser)
          : [] %> <% if (filteredItems.length > 0) { %>
          <div class="timeline-basic mb-9">
            <% filteredItems.forEach((itemArray, itemIndex) => { %>
            <div class="timeline-item">
              <div class="row g-3">
                <div class="col-auto">
                  <div class="timeline-item-bar position-relative">
                    <div class="icon-item icon-item-md rounded-7 border">
                      <% if(itemArray.type === 'Patrol Report') {%>
                      <span class="fa-solid fa-clipboard text-success fs--1"></span>
                      <% } else %> <% if(itemArray.type === 'Case Report') {%>
                      <span class="fa-solid fa-suitcase text-danger fs--1"></span>
                      <%} else%> <% if(itemArray.type === 'Schedule') {%>
                      <span class="fa-solid fa-calendar text-info fs--1"></span>
                      <%}else %> <% if(itemArray.type === 'Upload Files') {%>
                      <span class="fa-solid fa-file-arrow-up text-warning fs--1"></span>
                      <%}else %> <% if(itemArray.type === 'Upload Profile') {%>
                      <span class="fa-solid fa-user text-danger fs--1"></span>
                      <% }else %> <% if(itemArray.type === 'Duty Handover') {%>
                      <span class="fa-solid fa-rocket text-success fs--1"></span>
                      <% } %>
                    </div>
                    <% if ( lastItemIndex >= 0 &&
                    activity.items[lastItemIndex].username === currentUser ) {
                    %> <% if (itemIndex === activity.items[lastItemIndex].username.length) { %>
                    <span class=""></span>
                    <% } else { %>
                    <span class="timeline-bar border-end border-dashed border-300"></span>
                    <% } %> <% } %>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex mb-2">
                      <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">
                        <%= itemArray.title %>
                      </h6>
                    </div>
                    <p class="text-500 fs--1 mb-0 text-nowrap timeline-time">
                      <span class="fa-regular fa-clock me-1"></span><%=
                      itemArray.time %>
                    </p>
                  </div>
                  <h6 class="fs--2 fw-normal mb-3">
                    by <a class="fw-semi-bold" href="#!"><%= itemArray.by %></a>
                  </h6>
                  <p class="fs--1 text-800 w-sm-60 mb-3">
                    <%= itemArray.about %>
                  </p>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <p>No items for this activity.</p>
          <% } %> <% }); %> <% } else { %>
          <p>No activities found for <%= currentUser %>.</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include("partials/navbar-script.ejs") %> <%-include("partials/footer") %>