<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content">
  <div class="row g-4">
    <!-- profile card -->
    <div class="col-12 col-xl-7">
      <div class="pb-9">
        <div class="card mb-1">
          <div
            class="card-header hover-actions-trigger d-flex justify-content-center align-items-end position-relative mb-7 mb-xxl-0"
            style="min-height: 214px"
          >
            <div
              class="bg-holder rounded-top"
              style="
                background-image: url(../../assets/img/generic/cover-photo.png);
              "
            ></div>
            <input class="d-none" id="upload-cover-image" type="file" />
            <label
              class="cover-image-file-input"
              for="upload-cover-image"
            ></label>
            <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white">
              <span class="fa-solid fa-camera me-2 overlay-icon"></span>
            </div>
            <!--/.bg-holder-->

            <input class="d-none" id="upload-porfile-picture" type="file" />
            <div
              class="hoverbox feed-profile"
              style="width: 150px; height: 150px"
            >
              <div
                class="hoverbox-content bg-black rounded-circle d-flex flex-center z-index-1"
                style="--phoenix-bg-opacity: 0.56"
              >
                <span class="fa-solid fa-camera fs-7 text-300 light"></span>
              </div>
              <div
                class="position-relative bg-400 rounded-circle cursor-pointer d-flex flex-center mb-xxl-7"
              >
                <div class="avatar avatar-5xl">
                  <img
                    class="rounded-circle rounded-circle bg-white img-thumbnail shadow-sm"
                    src="../../assets/img/team/9.webp"
                    alt=""
                  />
                </div>
                <label
                  class="w-100 h-100 position-absolute z-index-1"
                  for="upload-porfile-picture"
                ></label>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-xl-between">
              <div class="col-auto">
                <div class="d-flex flex-wrap mb-3 align-items-center">
                  <h3 class="me-2"><%= currentFullName %></h3>
                  <span
                    class="fw-semi-bold fs--1 text-1100 badge badge-phoenix badge-phoenix-primary"
                    >PB<%= currentUser %></span
                  >
                </div>
              </div>
              <div class="mb-4">
                <h5 class="mb-2"><%= email || 'Email not added' %></h5>
                <h5><%= phone || 'Phone not added' %></h5>
              </div>
              <div class="col-auto">
                <div class="row g-2">
                  <div class="col-auto order-xxl-1">
                    <button class="btn btn-primary lh-1">
                      <span class="fa-solid fa-plus me-2"></span>Total Report
                      (<%= amountTotalReports %>)
                    </button>
                  </div>
                  <div class="col-auto order-xxl-2">
                    <button class="btn btn-phoenix-primary lh-1">
                      <span class="fa-solid fa-book me-2"></span>Patrol Report
                      (<%= amountPatrol %>)
                    </button>
                  </div>
                  <div class="col-auto order-xxl-3">
                    <button class="btn btn-phoenix-primary lh-1">
                      <span class="fa-solid fa-suitcase me-2"></span>Case Report
                      (<%= amountCase %>)
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- timeline -->
    <div class="col-12 col-xl-5">
      <div class="row gx-xl-8 gx-xxl-11">
        <h3 class="mb-4 text-center">Activity Timeline</h3>
        <div
          class="col-xl-12 overflow-auto scrollbar-overlay"
          style="height: 90vh"
        >
          <% if (Array.isArray(activity) && activity.length > 0) { %> <%
          activity.forEach(function (item1) { %>
          <div>
            <% if(todayDate === item1.date) {%>
            <h4 class="py-3 border-y border-300 mb-5 ms-8">Today</h4>
            <%} else { %>
            <h4 class="py-3 border-y border-300 mb-5 ms-8">
              <%= item1.date %>
            </h4>
            <% } %> <% if (Array.isArray(itemActivity) && itemActivity.length >
            0) { %> <% itemActivity.forEach(function (item2) { %>
            <div class="timeline-basic mb-9">
              <div class="timeline-item">
                <div class="row g-3">
                  <div class="col-auto">
                    <div class="timeline-item-bar position-relative">
                      <% if(item2.type === 'Patrol Report'){ %>
                      <div class="icon-item icon-item-md rounded-7 border">
                        <span
                          class="fa-solid fa-clipboard text-success-500 fs--1"
                        ></span>
                      </div>
                      <% } else if(item2.type === 'Case Report'){ %>
                      <div class="icon-item icon-item-md rounded-7 border">
                        <span
                          class="fa-solid fa-flag text-danger-500 fs--1"
                        ></span>
                      </div>
                      <% } else if(item2.type === 'Schedule') {%>
                      <div class="icon-item icon-item-md rounded-7 border">
                        <span
                          class="fa-solid fa-calendar text-info-500 fs--1"
                        ></span>
                      </div>
                      <% }else { %>
                      <div class="icon-item icon-item-md rounded-7 border">
                        <span
                          class="fa-regular fa-snowflake text-primary-500 fs--1"
                        ></span>
                      </div>
                      <% } %>
                      <span
                        class="timeline-bar border-end border-dashed border-300"
                      ></span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex mb-2">
                        <h6
                          class="lh-sm mb-0 me-2 text-800 timeline-item-title"
                        >
                          <%= item2.title %>
                        </h6>
                      </div>
                      <p class="text-500 fs--1 mb-0 text-nowrap timeline-time">
                        <span class="fa-regular fa-clock me-1"></span><%= item2.time %>
                      </p>
                    </div>
                    <h6 class="fs--2 fw-normal mb-3">
                      by <a class="fw-semi-bold" href="#!"><%= item2.by %></a>
                    </h6>
                    <p class="fs--1 text-800 w-sm-60 mb-5">
                      <%= item2.about %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% }) %> <% } else { %>
            <div class="timeline-basic mb-9">
              <div class="timeline-item">
                <div class="row g-3">
                  <div class="col-auto">
                    <div class="timeline-item-bar position-relative">
                      <div class="icon-item icon-item-md rounded-7 border">
                        <span
                          class="fa-solid fa-clipboard text-success fs--1"
                        ></span>
                      </div>
                      <span
                        class="timeline-bar border-end border-dashed border-300"
                      ></span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex mb-2">
                        <h6
                          class="lh-sm mb-0 me-2 text-800 timeline-item-title"
                        >
                          No activity on this date <br class="d-sm-none" />
                          this date
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <% }) %> <% } else { %>
          <div>
            <h4 class="py-3 border-y border-300 mb-5 ms-8">
              There is no activity yet
            </h4>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include("partials/navbar-script.ejs") %> <%-include("partials/footer") %>
