<%- include("partials/header") %> <%- include("partials/navbar") %>
<div class="content">
  <!-- top section -->
  <nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item active">Schedule</li>
      <li class="breadcrumb-item active">Submit</li>
    </ol>
  </nav>
  <h2 class="mb-2 lh-sm">Schedule</h2>
  <p class="text-700 lead mb-2">
    A schedule is a timeline that specifies when and how activities or tasks are
    planned and organized.
  </p>

  <div class="mt-4">
    <div class="row g-4">
      <div class="col-12 col-xl-10 order-1 order-xl-0">
        <div class="mb-9">
          <div
            class="card shadow-none border border-300 my-4"
            data-component-card="data-component-card"
            id="unit-patrol-report-form"
          >
            <div class="card-header p-4 border-bottom border-300 bg-soft">
              <div class="row g-3 justify-content-between align-items-center">
                <div class="col-12 col-md">
                  <h4 class="text-900 mb-0" data-anchor="data-anchor">
                    Schedule Form
                  </h4>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="p-4">
                <!-- form >form tag will be merge with file uploader form tag -->
                <form
                  action="/schedule/submit"
                  method="post"
                  class="row g-3 has-validation"
                  id="reportForm"
                >
                  <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">
                      Schedule Title
                    </label>

                    <input
                      type="text"
                      class="form-control <%= validationScheduleTitle%>"
                      id="validationCustom01"
                      name="scheduleTitle"
                      placeholder="Enter title here"
                      value="<%= scheduleTitle %>"
                    />
                  </div>

                  <div class="col-md-3">
                    <label class="form-label" for="datepicker1"
                      >Start Date</label
                    >

                    <input
                      class="form-control <%= validationStartDate %> datetimepicker flatpickr-input"
                      id="datepicker1"
                      type="text"
                      placeholder="day / month / year"
                      data-options='{"dateFormat":"d/m/y","disableMobile":true,"allowInput":true}'
                      name="startDate"
                      value="<%= startDate %>"
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a start date here.
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label class="form-label" for="datepicker2">End Date</label>

                    <input
                      class="form-control <%= validationEndDate %> datetimepicker flatpickr-input"
                      id="datepicker2"
                      type="text"
                      placeholder="day / month / year"
                      data-options='{"dateFormat":"d/m/y","disableMobile":true,"allowInput":true}'
                      name="endDate"
                      value="<%= endDate %>"
                    />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a date here.
                    </div>
                  </div>

                  <!-- form month -->
                  <div class="col-md-4">
                    <label class="form-label" for="validationCustom07"
                      >Month</label
                    >

                    <select
                      class="form-select <%= validationMonth %>"
                      id="validationCustom06"
                      name="month"
                    >
                      <option selected="" value="<%= month %>">
                        Choose a month
                      </option>
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please select a status.</div>
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="validationCustom02"
                      >Location</label
                    >

                    <select
                      class="form-select <%= validationLocation %>"
                      id="validationCustom02"
                      name="location"
                    >
                      <option selected="" value="<%= location %>">
                        Choose a location
                      </option>
                      <option value="Baitul Makmur I">Baitul Makmur I</option>
                      <option value="Baitul Makmur II">Baitul Makmur II</option>
                      <option value="Jamek Mosque">Jamek Mosque</option>
                      <option value="City Mosque">City Mosque</option>
                      <option value="Raudhatul Sakinah">
                        Raudhatul Sakinah
                      </option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please select a title report.
                    </div>
                  </div>

                  <!-- form status -->
                  <div class="col-md-4">
                    <label class="form-label" for="validationCustom06"
                      >Status</label
                    >

                    <select
                      class="form-select <%= validationStatus %>"
                      id="validationCustom06"
                      name="status"
                    >
                      <option selected="" value="<%= status %>">
                        Choose a status
                      </option>
                      <option value="Completed">Completed</option>
                      <option value="Incompleted">Incompleted</option>
                      <option value="Updated">Updated</option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please select a status.</div>
                  </div>

                  <div class="col-12 gy-4">
                    <label class="form-label" for="floatingProjectDescription2"
                      >Notes</label
                    >
                    <textarea
                      class="form-control <%= validationNotes %> mb-3"
                      id="floatingProjectDescription2"
                      placeholder="Leave a note here"
                      style="height: 64px"
                      name="notes"
                    >
<%= notes %></textarea
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Please enter a note here.
                    </div>
                  </div>

                  <input
                    type="text"
                    style="display: none"
                    name="confirmRid"
                    value="<%= reportId %>"
                  />

                  <!-- Submit button -->
                  <div class="col-12">
                    <button
                      class="btn btn-primary myButton"
                      type="submit"
                      id="submitReport"
                    >
                      <div class="btn-content">Submit Form</div>
                    </button>
                    <a
                      role="button"
                      class="btn btn-phoenix-primary bg-transparent border border-0 mx-2"
                      id="addFiles"
                      data-bs-toggle="modal"
                      data-bs-target="#verticallyCentered"
                      >Add files +</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- page nav -->
      <div class="col-12 col-xl-2">
        <div class="position-sticky mt-xl-4" style="top: 80px">
          <h5 class="lh-1">On this page</h5>
          <hr class="text-300" />
          <ul
            class="nav nav-vertical flex-column doc-nav"
            data-doc-nav="data-doc-nav"
          >
            <li class="nav-item">
              <a class="nav-link" href="#reportForm">Report Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#addFiles">Add Files</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#submitReport">Submit Form</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- status code-to-copy -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div
    class="toast align-items-center text-white bg-dark border-0 light"
    id="icon-copied-toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex justify-content-between">
      <div class="toast-body px-0 py-3"></div>
      <button
        class="btn ms-2 p-0 btn-close-white"
        type="button"
        data-bs-dismiss="toast"
        aria-label="Close"
      >
        <span class="uil uil-times fs-1"></span>
      </button>
    </div>
  </div>
</div>

<!-- TOAST ALERT -->

<!-- alert toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div
      class="toast <%= toastShow %> align-items-center text-white bg-primary border-0 light"
      role="alert"
      data-bs-autohide="false"
      aria-live="assertive"
      aria-atomic="true"
      id="alertToast"
    >
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-white"><%= toastMsg %></code>
        </div>

        <button
          class="btn ms-2 p-0 btn-close-white"
          type="button"
          data-bs-dismiss="toast"
          aria-label="Close"
        >
          <span class="uil uil-times fs-1"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->

<!-- modal for upload files -->
<div
  class="modal fade scrollbar-overlay"
  id="verticallyCentered"
  tabindex="-1"
  aria-labelledby="verticallyCenteredModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border border-0">
        <h5 class="modal-title" id="verticallyCenteredModalLabel">
          Upload Files
        </h5>
        <button
          class="btn p-1"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span class="fas fa-times fs--1"></span>
        </button>
      </div>

      <div class="modal-body p-3">
        <!-- file uploader -->
        <!-- data-options are the setting for dropzone can find the settings also inside -->
        <form
          class="dropzone dropzone-multiple p-0 mb-4"
          id="myDropzone"
          data-dropzone="data-dropzone"
          action="/upload-schedule"
          data-options='{"url":"/upload-schedule","paramName": "file"}'
        >
          <div class="dz-message" data-dz-message="data-dz-message">
            <img
              class="me-2"
              src="../../../assets/img/icons/cloud-upload.svg"
              width="25"
              alt=""
            />Drop your files here
          </div>
          <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
            <div class="d-flex mb-3 pb-3 border-bottom media">
              <div class="border border-300 p-2 rounded-2 me-2">
                <img
                  class="rounded-2 dz-image"
                  src="../../../assets/img/icons/file.png"
                  alt="..."
                  data-dz-thumbnail="data-dz-thumbnail"
                />
              </div>
              <div class="flex-1 d-flex flex-between-center">
                <div>
                  <h6 data-dz-name="data-dz-name"></h6>
                  <div class="d-flex align-items-center">
                    <p
                      class="mb-0 fs--1 text-400 lh-1"
                      data-dz-size="data-dz-size"
                    ></p>
                    <div class="dz-progress">
                      <span class="dz-upload" data-dz-uploadprogress=""></span>
                    </div>
                  </div>
                  <span
                    class="fs--2 text-danger"
                    data-dz-errormessage="data-dz-errormessage"
                  ></span>
                </div>
                <div class="dropdown font-sans-serif">
                  <button
                    class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-2">
                    <a
                      class="dropdown-item"
                      href="#!"
                      data-dz-remove="data-dz-remove"
                      >Remove File</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input
            type="text"
            style="display: none"
            value="<%= reportId %>"
            name="fileReportId"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary myButton"
          type="submit"
          id="uploadButton"
        >
          <div class="btn-content">
            <span
              ><i class="fa fa-upload" aria-hidden="true"></i
              >&nbsp;&nbsp;Upload</span
            >
          </div>
        </button>
        <button
          class="btn btn-outline-primary"
          type="button"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <!-- alert toast upload -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div class="d-flex">
      <div
        class="toast align-items-center text-white bg-primary border-0 light"
        role="alert"
        data-bs-autohide="false"
        aria-live="assertive"
        aria-atomic="true"
        id="alertUploadToast"
      >
        <div class="d-flex justify-content-between">
          <div class="toast-body px-0 py-3">
            <code id="dropzoneAlertContent" class="text-white"></code>
          </div>

          <button
            class="btn ms-2 p-0 btn-close-white"
            type="button"
            data-bs-dismiss="toast"
            aria-label="Close"
          >
            <span class="uil uil-times fs-1"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/navbar-script") %> <%- include("partials/footer") %>
