<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content">
  <div class="mb-9">
    <div class="row g-6">
      <!-- profile card -->
      <div class="col-12 col-xl-4">
        <div class="card mb-3">
          <div
            class="card-header hover-actions-trigger d-flex justify-content-center align-items-end position-relative mb-7 mb-xxl-0"
            style="min-height: 214px"
          >
            <div
              class="bg-holder rounded"
              style="
                background-image: url(../../assets/img/generic/cover-photo.png);
              "
            ></div>
            <!--/.bg-holder-->

            <% if(currentProfile === ''){ currentProfile =
            'assets/img/team/avatar.webp'; } %>
            <form
              action="/social/settings/upload-profile"
              method="post"
              enctype="multipart/form-data"
            >
              <input
                class="d-none"
                id="upload-profile-picture"
                type="file"
                name="file"
                accept="image/*"
                onchange="previewImage()"
              />
              <div
                class="hoverbox feed-profile mb-15"
                style="width: 150px; height: 150px"
              >
                <div
                  class="hoverbox-content bg-black rounded-circle d-flex flex-center z-index-1"
                  style="--phoenix-bg-opacity: 0.56"
                >
                  <span class="fa-solid fa-camera fs-7 text-300 light"></span>
                </div>
                <div
                  class="position-relative bg-400 rounded-circle cursor-pointer d-flex flex-center mb-xxl-7"
                >
                  <div class="avatar avatar-5xl">
                    <img
                      class="rounded-circle rounded-circle bg-white img-thumbnail shadow-sm"
                      src="<%= currentProfile %>"
                      id="preview-image"
                    />
                  </div>
                  <label
                    class="w-100 h-100 position-absolute z-index-1"
                    for="upload-profile-picture"
                  ></label>
                </div>
              </div>
              <button
                class="btn btn-primary z-index-1 position-absolute bottom-0 end-0 m-2"
                type="submit"
                id="uploadProfile"
              >
                Upload Profile
              </button>
            </form>
          </div>
        </div>

        <div class="card mb-1">
          <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h3><%= currentFullName %></h3>
              </div>
              <div class="col-auto">
                <div class="d-flex mb-4 justify-content-between">
                  <span
                    class="fw-semi-bold fs--1 text-1100 badge badge-phoenix badge-phoenix-primary ms-auto"
                  >
                    PB<%= currentUser %>
                  </span>
                </div>
              </div>
              <div class="mb-0">
                <h5 class="mb-2"><%= currentEmail || 'Email not added' %></h5>
                <h5><%= currentPhone || 'Phone number not added' %></h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-8">
        <div class="border-bottom border-300 mb-4">
          <form
            action="/social/settings/submit-information"
            method="post"
            class="has-validation"
          >
            <div class="mb-6">
              <h4 class="mb-4">Personal Information</h4>
              <div class="row g-3">
                <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                    <div class="form-floating">
                      <input
                        class="form-control <%= validationFullName %> form-icon-input"
                        id="fullname"
                        name="fullname"
                        type="text"
                        value="<%= fullName  %>"
                        placeholder="Full Name"
                      />
                      <label class="text-700 form-icon-label" for="fullname"
                        >FULL NAME</label
                      >
                      <div class="valid-feedback">Looks good!</div>
                      <div class="invalid-feedback">
                        Please enter with first letter uppercase
                      </div>
                    </div>
                    <span
                      class="fa-solid fa-user text-900 fs--1 form-icon"
                    ></span>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                    <div class="form-floating">
                      <input
                        class="form-control <%= validationEmail %> form-icon-input"
                        id="emailSocial"
                        type="text"
                        name="email"
                        value="<%= email %>"
                        placeholder="Email"
                      />
                      <label class="text-700 form-icon-label" for="emailSocial"
                        >ENTER YOUR EMAIL</label
                      >
                      <div class="valid-feedback">Looks good!</div>
                      <div class="invalid-feedback">
                        Please enter with correct email format (abc@example.com)
                      </div>
                    </div>
                    <span
                      class="fa-solid fa-envelope text-900 fs--1 form-icon"
                    ></span>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                    <div class="form-floating">
                      <input
                        class="form-control <%= validationPhone %> form-icon-input"
                        id="phone"
                        type="text"
                        name="phone"
                        value="<%= phone %>"
                        placeholder="0123456789"
                      />
                      <label class="text-700 form-icon-label" for="phone"
                        >ENTER YOUR PHONE</label
                      >
                      <div class="valid-feedback">Looks good!</div>
                      <div class="invalid-feedback">
                        Please enter with correct phone number (+601******)
                      </div>
                    </div>
                    <span
                      class="fa-solid fa-phone text-900 fs--1 form-icon"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end mb-6">
              <div>
                <a
                  class="btn btn-phoenix-secondary me-2"
                  role="button"
                  href="/social/settings"
                >
                  Cancel Changes
                </a>
                <button class="btn btn-phoenix-primary" type="submit">
                  Save Information
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="border-bottom border-300 mb-4">
          <form
            action="/social/settings/submit-password"
            method="post"
            class="has-validation"
          >
            <div class="row gx-3 mb-6 gy-6 gy-sm-3">
              <div class="col-12 col-sm-6">
                <h4 class="mb-4">Change Password</h4>
                <div class="form-icon-container mb-3">
                  <div class="form-floating">
                    <input
                      class="form-control <%= validationOldPassword %> form-icon-input"
                      id="oldPassword"
                      type="password"
                      name="oldPassword"
                      value="<%= oldPassword %>"
                      placeholder="Old password"
                    />
                    <label class="text-700 form-icon-label" for="oldPassword"
                      >Old Password</label
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Entered wrong old password
                    </div>
                  </div>
                  <span
                    class="fa-solid fa-lock text-900 fs--1 form-icon"
                  ></span>
                </div>
                <div class="form-icon-container mb-3">
                  <div class="form-floating">
                    <input
                      class="form-control <%= validationNewPassword %> form-icon-input"
                      id="newPassword"
                      type="password"
                      name="newPassword"
                      value="<%= newPassword %>"
                      placeholder="New password"
                    />
                    <label class="text-700 form-icon-label" for="newPassword"
                      >New Password</label
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Must have at least 1 digit & first letter uppercase
                    </div>
                  </div>
                  <span class="fa-solid fa-key text-900 fs--1 form-icon"></span>
                </div>
                <div class="form-icon-container">
                  <div class="form-floating">
                    <input
                      class="form-control <%= validationConfirmPassword %> form-icon-input"
                      id="newPassword2"
                      type="password"
                      name="confirmPassword"
                      value="<%= confirmPassword %>"
                      placeholder="Confirm New password"
                    />
                    <label class="text-700 form-icon-label" for="newPassword2"
                      >Confirm New Password</label
                    >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">
                      Password are not match with new password
                    </div>
                  </div>
                  <span class="fa-solid fa-key text-900 fs--1 form-icon"></span>
                </div>
              </div>
            </div>
            <div class="text-end mb-6">
              <div>
                <a
                  class="btn btn-phoenix-secondary me-2"
                  role="button"
                  href="/social/settings"
                >
                  Cancel Changes
                </a>
                <button class="btn btn-phoenix-primary" type="submit">
                  Save Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- alert toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div
      class="toast <%= toastShow %> align-items-center text-white bg-primary border-0 light"
      role="alert"
      data-bs-autohide="false"
      aria-live="assertive"
      aria-atomic="true"
      id="alertToast"
    >
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-white"><%= toastMsg %></code>
        </div>

        <button
          class="btn ms-2 p-0 btn-close-white"
          type="button"
          data-bs-dismiss="toast"
          aria-label="Close"
        >
          <span class="uil uil-times fs-1"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- alert toast upload -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div
      class="toast align-items-center text-white bg-primary border-0 light"
      role="alert"
      data-bs-autohide="false"
      aria-live="assertive"
      aria-atomic="true"
      id="alertUploadProfileToast"
    >
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code id="profileAlertContent" class="text-white"></code>
        </div>

        <button
          class="btn ms-2 p-0 btn-close-white"
          type="button"
          data-bs-dismiss="toast"
          aria-label="Close"
        >
          <span class="uil uil-times fs-1"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<%-include("partials/navbar-script.ejs") %> <%-include("partials/footer") %>
