<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="content px-0 pt-9">
  <div class="row g-0">
    <div class="col-12 col-xxl-10 px-0 bg-soft">
      <div class="px-4 px-lg-6 pt-6 pb-9">
        <!-- top header section -->
        <div class="mb-5">
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item active">Reports</li>
              <li class="breadcrumb-item active">Patrol Report</li>
              <li class="breadcrumb-item active">Shift Member</li>
              <li class="breadcrumb-item active"><%= patrolReport.location %></li>
            </ol>
          </nav>
          <div class="d-flex justify-content-between row g-1">
            <h2 class="col-12 col-xxl-11">
              Patrol Report Details<span class="fw-normal text-700 ms-3">(<%= patrolReport.date %>)</span>
            </h2>
            <div class="font-sans-serif btn-reveal-trigger d-print-none col-12 col-xxl-1">
              <p class="badge badge-phoenix badge-phoenix-success">
                <%= patrolReport.status %>
              </p>
              <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                <span class="fas fa-ellipsis-h"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="#!" id="printLink">Print</a>
              </div>
            </div>
          </div>
        </div>

        <!-- body section -->
        <div class="row gx-0 gx-sm-5 gy-8 mb-n5">
          <div class="col-12 pe-xl-0">
            <!-- first section -->
            <div class="mb-4 mb-xl-7">
              <div class="row gx-0 gx-sm-7">
                <div class="col-12 col-xxl-4">
                  <div class="text-600 fw-semi-bold"><span class="fa-solid fa-keyboard me-2"></span><strong><%= patrolReport.type %></strong></div>
                  <div class="text-600 fw-semi-bold"><span class="fa-solid fa-flag me-2"></span>Shift : <strong class="text-1000"><%= patrolReport.shift %></strong></div>
                  <div class="text-600 fw-semi-bold"><span class="fa-solid fa-hourglass-start me-2"></span>Start Shift : <strong class="text-1000"><%= patrolReport.startShift %></strong></div>
                  <div class="text-600 fw-semi-bold"><span class="fa-solid fa-hourglass-end me-2"></span>End Shift : <strong class="text-1000"><%= patrolReport.endShift %></strong></div>
                </div>
                <div class="col-12 col-xxl-8">
                  <div class="text-600 fw-semi-bold"><span class="fa-solid fa-clipboard-user me-2"></span>Shift Members : </div>
                  <div id="giveShiftMemberDisplay" class="d-flex row g-1">
                    <% if (patrolReport && patrolReport.staff && patrolReport.staff.length > 0) { %>
                    <% patrolReport.staff.forEach(member => { %>
                    <div class="btn btn-outline-primary col-auto">
                      <%= member %>
                    </div>
                    <% }); %>
                    <% } else { %>
                    <div>No shift members for this handover</div>
                    <% } %>
                  </div>
                </div>
                <div class="col-12">
                  <div class="progress mb-0 mt-3" style="height:12.5px">
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> class="progress-bar rounded-3" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:<%= progressReport %>%;"><%= progressReport %>%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <!-- Your EJS content goes here -->
        <div class="col-12">
          <div class="container">
            <div class="">
              <% 
              var display = "";
              
              // Function to get today's date in the format "DD/MM/YY"
              function getTodayDate() {
              const today = new Date();
              const day = String(today.getDate()).padStart(2, '0');
              const month = String(today.getMonth() + 1).padStart(2, '0'); // Month is zero-based
              const year = today.getFullYear().toString().substr(-2);
              return `${day}/${month}/${year}`;
              }

              const todayDate = getTodayDate();

              %>
              <% cycle.forEach((cycle, index) => { %>
              <% if(currentTimeSlot === cycle.timeSlot && todayDate === patrolReport.date){
                display = "d-block";
              }else {
                display = "d-none";
              } %>
              <div class="card mb-3 <%= display %>">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h2 class="card-title">
                      Cycle <%= index+1 %><span class="fw-normal text-700 ms-3 fs-1 my-auto">(<%= cycle.timeSlot %>)</span>
                    </h2>
                    <div class="btn btn-link my-auto"><span id="countdown<%= index %>" class="fs-1"></span></div>
                  </div>
                  <ul class="list-group list-group-flush">
                    <% cycle.checkpoint.forEach(checkpoint => { %>
                    <li class="list-group-item">
                      <p class="card-text"><strong><%= checkpoint.checkpointName %></strong></p>
                      <p class="card-text">Time: <%= checkpoint.time %></p>
                      <p class="card-text">Log Report: <%= checkpoint.logReport %></p>
                      <p class="card-text">Full Name: <%= checkpoint.fullName %></p>
                    </li>
                    <% }); %>
                  </ul>
                </div>
              </div>

              <script>
                // Update countdown for this cycle
                setInterval(() => {
                  updateCountdown('<%= cycle.timeSlot %>', 'countdown<%= index %>');
                }, 1000);
              </script>
              <% }); %>
            </div>
          </div>
        </div>

        <script>
          // Function to update the countdown
          function updateCountdown(targetTimeSlot, countdownElementId) {
            // Extract the end time from the timeSlot (assuming the format is HHMM-HHMM)
            const endTimeString = targetTimeSlot.split('-')[1];

            // Parse the end time in the Kuala Lumpur time zone
            const endTime = new Date();
            endTime.setHours(parseInt(endTimeString.substring(0, 2), 10));
            endTime.setMinutes(parseInt(endTimeString.substring(2), 10));
            endTime.setSeconds(0);

            // Calculate the difference in milliseconds between current time and end time
            const difference = endTime - new Date();

            // Check if the end time has already passed
            if (difference <= 0) {
              const countdownElement = document.getElementById(countdownElementId);
              countdownElement.innerHTML = `End Time: ${endTime.toLocaleTimeString('en-MY', { timeZone: 'Asia/Kuala_Lumpur' })}`;
              return;
            }

            // Calculate hours, minutes, and seconds
            const hours = Math.floor(difference / (1000 * 60 * 60));
            const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((difference % (1000 * 60)) / 1000);

            // Display the countdown in the specified element
            const countdownElement = document.getElementById(countdownElementId);
            countdownElement.innerHTML = `${hours}h ${minutes}m ${seconds}s`;
          }
        </script>

        <div class="col-12">
          <div id="chart" style="height: 450px;"></div>
        </div>

        <script>
          // Fetch ECharts data from the server
          fetch('/echarts-data/<%= patrolReport.reportId %>') // Replace 'your_report_id' with the actual report ID
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                const echartsData = data.data;

                const chart = echarts.init(document.getElementById('chart'));

                // ECharts option configuration
                const option = {
                  xAxis: {
                    type: 'category',
                    data: echartsData.cycle.map(cycle => cycle.timeSlot),
                  },
                  yAxis: {
                    type: 'value',
                    axisLabel: {
                      formatter: '{value}%', // Display percentage symbol on the Y-axis
                    },
                    splitLine: {
                      show: false, // Hide the horizontal grid lines on the Y-axis
                    },
                  },
                  series: [{
                    data: echartsData.cycle.map(cycle => cycle.percentageWithTime),
                    type: 'line',
                    label: {
                      show: true,
                      formatter: params => `${params.value.toFixed(0)}%`,
                      color: '#3874ff', // Display percentage value on the chart
                    },
                  }],
                };

                // Set option and render chart
                chart.setOption(option);
              } else {
                console.error('Error fetching ECharts data:', data.error);
              }
            })
            .catch(error => console.error('Error fetching data:', error));
        </script>

        <hr />

        <div class="mt-2">
          <div class="d-flex align-items-center mb-4">
            <h3 class="text-1100 me-3">Notes</h3>
            <button class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#modalNotes">
              <span class="fa-solid fa-pen"></span>
            </button>
          </div>
          <p class="text-800"><%= patrolReport.notes %></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-xxl-2 px-0 border-start-xxl border-300 border-top-sm position-xxl-fixed end-0">
      <div class="h-25 h-xxl-100">
        <div class="bg-light dark__bg-1100 min-vh-100">
          <div class="px-4 px-lg-6 py-4">
            <h4 class="mb-0">Files</h4>
          </div>
          <% if (Array.isArray(files) && files.length > 0) { %>
          <!-- table item -->
          <% files.forEach(function (item) { %> <% if(item.fileType === ".jpg"
          || item.fileType === ".jepg" || item.fileType === ".gif" ||
          item.fileType === ".bmp" || item.fileType === ".png" ) {%>

          <div class="border-top border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div class="d-flex mb-1">
                  <span class="fa-solid fa-image me-2 text-700 fs--1"></span>
                  <p class="text-1000 mb-0 lh-1"><%= item.filename %></p>
                </div>
                <div class="font-sans-serif btn-reveal-trigger">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="/download/<%= item.filename %>">Download</a>
                  </div>
                </div>
              </div>
              <div class="d-flex fs--1 text-700 mb-2 flex-wrap">
                <a href="#!"><%= item.by %></a><span class="text-400 mx-1">| </span><span class="text-nowrap"><%= item.date %></span>
              </div>
              <img class="rounded-2" id="imageDetails" src="/uploads/<%= item.filename %>" alt="" style="max-width: 200px" />
            </div>
          </div>
          <%} else {%>

          <div class="border-top border-bottom border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div>
                  <div class="d-flex align-items-center mb-1 flex-wrap">
                    <p class="text-1000 mb-0 lh-1">
                      <span class="fa-solid fa-file-lines me-2 fs--1 text-700"></span><%= item.filename %>
                    </p>
                  </div>
                  <div class="d-flex fs--1 text-700 mb-0 flex-wrap">
                    <a href="#!"><%= item.by %> </a><span class="text-400 mx-1">| </span><span class="text-nowrap"><%= item.date %></span>
                  </div>
                </div>
                <div class="font-sans-serif btn-reveal-trigger">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end py-2">
                    <a class="dropdown-item" href="/download/<%= item.filename %>">Download</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% }) %> <% } else { %>
          <div class="border-top border-bottom border-300 px-4 px-lg-6 py-4">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div>
                  <div class="d-flex align-items-center mb-1 flex-wrap">
                    No files uploaded
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <div class="mt-1 mb-3">
            <a role="button" class="btn btn-phoenix-primary bg-transparent border border-0 mx-2" id="addFiles" data-bs-toggle="modal" data-bs-target="#verticallyCentered">Add files +</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalNotes" tabindex="-1" aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verticallyCenteredModalLabel">Notes</h5>
        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
          <span class="fas fa-times fs--1"></span>
        </button>
      </div>

      <div class="modal-body row">
        <form action="/notes-update/shift-member" method="post" id="notesUpdateForm">
          <div class="col-12 gy-4">
            <textarea class="form-control scrollbar-overlay mb-3" id="notesInput" placeholder="Leave a note here" style="height: 75px" name="notes"></textarea>
          </div>

          <input type="text" style="display: none" value="<%= patrolReport.reportId %>" name="confirmRid" />

          <button class="btn btn-primary myButton" type="submit" id="updateNotes">
            <div class="btn-content">Update</div>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- alert toast upload -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div class="d-flex">
      <div class="toast align-items-center text-white bg-primary border-0 light" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" id="alertUpdateToast">
        <div class="d-flex justify-content-between">
          <div class="toast-body px-0 py-3">
            <code id="notesAlertContent" class="text-white"></code>
          </div>

          <button class="btn ms-2 p-0 btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close">
            <span class="uil uil-times fs-1"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal for upload files -->
<div class="modal fade scrollbar-overlay" id="verticallyCentered" tabindex="-1" aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border border-0">
        <h5 class="modal-title" id="verticallyCenteredModalLabel">
          Upload Files
        </h5>
        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
          <span class="fas fa-times fs--1"></span>
        </button>
      </div>

      <div class="modal-body p-3">
        <!-- file uploader -->
        <!-- data-options are the setting for dropzone can find the settings also inside -->
        <form class="dropzone dropzone-multiple p-0 mb-4" id="myDropzone" data-dropzone="data-dropzone" action="/upload-case" data-options='{"url":"/upload-case","paramName": "file"}'>
          <div class="dz-message" data-dz-message="data-dz-message">
            <img class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here
          </div>
          <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
            <div class="d-flex mb-3 pb-3 border-bottom media">
              <div class="border border-300 p-2 rounded-2 me-2">
                <img class="rounded-2 dz-image" src="../../../assets/img/icons/file.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
              </div>
              <div class="flex-1 d-flex flex-between-center">
                <div>
                  <h6 data-dz-name="data-dz-name"></h6>
                  <div class="d-flex align-items-center">
                    <p class="mb-0 fs--1 text-400 lh-1" data-dz-size="data-dz-size"></p>
                    <div class="dz-progress">
                      <span class="dz-upload" data-dz-uploadprogress=""></span>
                    </div>
                  </div>
                  <span class="fs--2 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                </div>
                <div class="dropdown font-sans-serif">
                  <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-2">
                    <a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="text" style="display: none" value="<%= reportId %>" name="fileReportId" />
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary myButton" type="submit" id="uploadButton">
          <div class="btn-content">
            <span><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp;Upload</span>
          </div>
        </button>
        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <!-- alert toast upload -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div class="d-flex">
      <div class="toast align-items-center text-white bg-primary border-0 light" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" id="alertUploadToast">
        <div class="d-flex justify-content-between">
          <div class="toast-body px-0 py-3">
            <code id="dropzoneAlertContent" class="text-white"></code>
          </div>

          <button class="btn ms-2 p-0 btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close">
            <span class="uil uil-times fs-1"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/navbar-script") %> <%- include("partials/footer") %>