<%- include("partials/header") %>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container">
    <div class="row flex-center min-vh-100 py-5">
      <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
        <a class="d-flex flex-center text-decoration-none mb-5" href="/">
          <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
            <img
              src="../../../assets/img/icons/logo.png"
              alt="logo"
              width="75"
            />
          </div>
        </a>
        <div class="text-center mb-5">
          <h3 class="text-1000">Sign In</h3>
          <p class="text-700">Get access to your account</p>
        </div>

        <form action="/sign-in" method="post" class="has-validation">
          <div class="mb-3 text-start">
            <label class="form-label" for="email">Username</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">PB</span>
              <input
                class="form-control <%= validationUsername %>"
                id="username"
                name="username"
                type="text"
                value="<%= username %>"
                placeholder="Username"
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Username required not found</div>
            </div>
          </div>
          <div class="mb-3 text-start">
            <label class="form-label" for="password">Password</label>
            <div class="form-icon-container">
              <input
                class="form-control <%= validationPassword %> form-icon-input"
                id="password"
                type="password"
                name="password"
                value="<%= password %>"
                placeholder="Password"
              /><span class="fas fa-key text-900 fs--1 form-icon"></span>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Required, at least 1 digit with minimum 4 character
              </div>
            </div>
          </div>
          <div class="row flex-between-center mb-7">
            <div class="col-auto">
              <div class="form-check mb-0">
                <input
                  class="form-check-input"
                  id="basic-checkbox"
                  type="checkbox"
                  name="rememberMe"
                />
                <label class="form-check-label mb-0" for="basic-checkbox"
                  >Remember me</label
                >
              </div>
            </div>
            <div class="col-auto">
              <a class="fs--1 fw-semi-bold" href="/forgot-password"
                >Forgot Password?</a
              >
            </div>
          </div>

          <button
            class="btn btn-primary w-100 mb-3 myButton"
            type="submit"
            name="submit"
          >
            <div class="btn-content">Sign In</div>
          </button>
        </form>

        <div class="text-center">
          <a class="fs--1 fw-bold" href="/sign-up">Create an account</a>
        </div>
      </div>
    </div>

    <!-- alert toast -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
      <div class="d-flex">
        <div
          class="toast <%= toastShow %> align-items-center text-white bg-primary border-0 light"
          role="alert"
          data-bs-autohide="false"
          aria-live="assertive"
          aria-atomic="true"
          id="alertToast"
        >
          <div class="d-flex justify-content-between">
            <div class="toast-body px-0 py-3">
              <code class="text-white"><%= toastMsg %></code>
            </div>

            <button
              class="btn ms-2 p-0 btn-close-white"
              type="button"
              data-bs-dismiss="toast"
              aria-label="Close"
            >
              <span class="uil uil-times fs-1"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
    var navbarTop = document.querySelector('.navbar-top');
    if (navbarTopStyle === 'darker') {
      navbarTop.classList.add('navbar-darker');
    }

    var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
    var navbarVertical = document.querySelector('.navbar-vertical');
    if (navbarVertical && navbarVerticalStyle === 'darker') {
      navbarVertical.classList.add('navbar-darker');
    }
  </script>
  <div
    class="btn btn-phoenix-primary position-absolute top-0 end-0 m-4 shadow-lg rounded-5 d-flex px-2 py-1"
  >
    <p class="my-auto mx-2">Theme</p>
    <div class="theme-control-toggle fa-icon-wait px-2">
      <input
        class="form-check-input ms-0 theme-control-toggle-input"
        type="checkbox"
        data-theme-control="phoenixTheme"
        value="dark"
        id="themeControlToggle"
      />
      <label
        class="mb-0 theme-control-toggle-label theme-control-toggle-light"
        for="themeControlToggle"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title="Switch theme"
        ><span class="icon" data-feather="moon"></span
      ></label>
      <label
        class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
        for="themeControlToggle"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title="Switch theme"
        ><span class="icon" data-feather="sun"></span
      ></label>
    </div>
  </div>
</main>

<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<%- include("partials/footer") %>
